<!DOCTYPE html>
<html>
    <head>
        <title> JDT </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style type="text/css">
            body{
                overflow-x: hidden; 
                background-color: #84D455;
/*                height: 600px;*/
            }
            .work-in-progress{
/*                height: 600px; */
                font-size: 26px; 
                margin: 0 auto;
                max-width: 50em;
/*                margin-bottom: 500px;*/
                text-align: center;
            }
        </style>
        
    </head>
    <body>
        <style>
            /* for Phones */
            
            @media (min-width: 768px){
                /* for Tablet */
            }
            
            @media (min-width: 992px){
                /* for Desktop */
            }
        
        </style>
        
        
        <div class="work-in-progress">This site is a work in progress. </div>
        <div class="work-in-progress" style="margin-bottom: 550px;"> Follow our social media and stay tuned for more information. </div>
    </body>
</html>