<head>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Railway:400,500,600">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
        *{margin: 0;}
        
/*
        
        body{
            background: url() no-repeat;
            background-size: contain;
            
            
            background-position: center top; 
            max-width: 100%;
            height: auto; 
        }
*/
        
        .header-pic{
            
            max-width: 100%;
            height: auto; 
            border-style: none; 
        }
        
        
        .header-menu{
            width: 100%; 
            background-color: rgba(39, 51, 160, 0.3); 
        }
        
        .header-menu ul{
            text-align: right;
        }
        
        .header-menu ul li{
            list-style: none; 
            display: inline-block;
        }
        
        
        .header-menu ul li a{
        
            display: block;
            text-decoration: none;
            text-transform: uppercase;
            color: #fff;
            font-size: 17px;
            font-family: 'Raleway', sans-serif;
            Letter-spacing: 2px;
            font-weight: 600; 
            padding: 25px; 
            transition: all ease 0.6s; 
  
        }
        .header-menu ul li a:hover{
            background-color: #392f75;
            /* #211b4385  */
    
        }
        /*        nav bar*/
        /* ----------------------------*/
        #place_holder{
            height: 568px; 
            width: 823px; 
            width:100%;
            height: auto; 
/*            width:100%; */
        }
        
        
        
        /*     content design*/
        
        #soa-graphic-design{
            
            width: 840px; 
            height: 560px; 
            margin-top: 100px; 
            margin-left: -55px; 
        }
        
        #home-about-us-title{
            font-size: 34px;  
            line-height: 1.125;
            margin-bottom: 20px;
            
        }
        #home-about-us-content{
            font-size: 24px; 
        }
        
        
        
        
        
        
        
    </style>

</head>
<body>
    <div class="header-menu">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About </a>
<!--
                <ul>
                    <li><a>Members</a></li>
                    <li><a>About Us</a></li>
                    <li><a>How Publishing Works</a></li>
                    <li><a>What's Open Access</a></li>
                </ul>
-->
            </li>
            
            <li><a href="#">Events</a>
<!--
                <ul>
                    <li><a>Open Access Directory</a></li>
                    <li><a>Mentor-Mentee Program</a></li>
                    <li><a>Research Talks</a></li>
                    <li><a>Workshops</a></li>
                </ul>
-->
            
            <li><a href="#">Join Us</a></li>
            <li><a href="#">OA Directory</a></li>
            

            
        
        </ul>
    </div>

    <div id="header-pic" style="">
            <img id="home-library" src="https://images.fineartamerica.com/images/artworkimages/medium/1/ucsd-library-ken-dugan.jpg" width="1500" height="800">
        
    </div>
    
    
    
    
    <div id="left-blue" class="col-xs-6" style="height: 800px; background-color: #2733A0;">
        <figure>
            <img id="soa-graphic-design" class="picture-image" src="/images/soa_graphic-design.png">
        </figure>
    </div>
    <div class="col-xs-6" style="height: 800px; background-color: #D9EF16;">
        <h1 id="home-about-us-title"> About Us </h1>
        <div id="home-about-us-content">
            <p>
                “Our goals are to raise awareness among students about open access (OA) research publication and open educational resources (OER), to get students involved in advocacy for OA and OER, and to change the culture surrounding scholarly publishing to place greater emphasis on equitable access to information.”
            </p>
        </div>
        <div id="home-about-us-learn-more">
            <a class="bottom" href="#" style="color: currentColor; cursor: pointer; text-decoration: none;"> Learn More </a>
        </div>

    </div>
</body>



<!--https://scontent.ftpe4-1.fna.fbcdn.net/v/t1.0-9/29433289_1782027851836122_2899621649475174400_o.jpg?_nc_cat=108&_nc_sid=730e14&_nc_ohc=PEYteNBEyNYAX-g6LRn&_nc_ht=scontent.ftpe4-1.fna&oh=e3edbf9d411e8346f480f2fdfdee3e69&oe=5F8D719F-->

<!--https://univesl.cafe24.com/univengle/wp-content/uploads/2017/10/ucsd_main.jpg-->

<!--https://i2.wp.com/triton.news/wp-content/uploads/2019/02/scripps.jpg?fit=854%2C573&ssl=1-->

<!--https://igppweb.ucsd.edu/~dkilb/sio_sunset_from_CJsm_tag.jpg-->

<!--https://images.fineartamerica.com/images/artworkimages/medium/1/ucsd-library-ken-dugan.jpg-->

<!--https://images.fineartamerica.com/images/artworkimages/medium/1/ucsd-library-ken-dugan.jpg-->

<!--https://images.fineartamerica.com/images/artworkimages/medium/1/ucsd-library-ken-dugan.jpg-->
