<head>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Railway:400,500,600">
    <style type="text/css">
        *{margin: 0;}
        
        body{
            background: url(https://gradsa.ucsd.edu/_images/homepage/geisel-at-night.png) no-repeat;
            background-size: contain;
            background-position: center top; 
            box-sizing: border-box; 
            font-family: 'Raleway', sans-serif;
            
        }
        
        .header{
/*            width: 100%; */
/*            background-color: rgba(0, 0, 0, 0.2); */
            
            background: #2733a0;
            opacity: 0.7;
            text-align: center; 
            width: 100%; 
            float: right; 
        }
        .header ul{

/*            text-align: right; */
/*-------------------------*/
            
            display: inline-flex;
            list-style: none; 
            color: #fff; 
        }
        .header ul li{
            
/*
            list-style: none; 
            display: inline-block;
*/
/*----------------------------*/
            width: 200px; 
            height: 15px; 

            
        }
        .header ul li a{
            
/*
            display: block;
            text-decoration: none;
            text-transform: uppercase;
            color: #fff;
            font-size: 19px;
            font-family: 'Raleway', sans-serif;
            Letter-spacing: 2px;
            font-weight: 600; 
            padding: 25px; 
            transition: all ease 0.6s; 
*/
/*----------------------------*/
            text-decoration: none;
            color: #fff;
            display: block; 
            padding: 25px; 
            font-size: 19px; 
            

            
        }
        .header ul li a:hover{
/*            background-color: #392f75;
            #211b4385  */
    /* ----------------------------*/
        }
    </style>

</head>
<body>
    <div class="header">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About </a>
<!--
                <ul>
                    <li><a>Members</a></li>
                    <li><a>About Us</a></li>
                    <li><a>How Publishing Works</a></li>
                    <li><a>What's Open Access</a></li>
                </ul>
-->
            </li>
            
            <li><a href="#">Events</a>
<!--
                <ul>
                    <li><a>Open Access Directory</a></li>
                    <li><a>Mentor-Mentee Program</a></li>
                    <li><a>Research Talks</a></li>
                    <li><a>Workshops</a></li>
                </ul>
-->
            
            <li><a href="#">Join Us</a></li>
            <li><a href="#">OA Directory</a></li>
            

            
        
        </ul>
    </div>
    <div id="place_holder" style="height: 900px; ">               </div>
    
    
    
    
    <div class="col-xs-6" style="height: 800px; background-color: #2733A0;">
    
    </div>
    <div class="col-xs-6" style="height: 800px; background-color: #D9EF16;">

    </div>
</body>



<!--https://scontent.ftpe4-1.fna.fbcdn.net/v/t1.0-9/29433289_1782027851836122_2899621649475174400_o.jpg?_nc_cat=108&_nc_sid=730e14&_nc_ohc=PEYteNBEyNYAX-g6LRn&_nc_ht=scontent.ftpe4-1.fna&oh=e3edbf9d411e8346f480f2fdfdee3e69&oe=5F8D719F-->

<!--https://univesl.cafe24.com/univengle/wp-content/uploads/2017/10/ucsd_main.jpg-->

<!--https://i2.wp.com/triton.news/wp-content/uploads/2019/02/scripps.jpg?fit=854%2C573&ssl=1-->

<!--https://igppweb.ucsd.edu/~dkilb/sio_sunset_from_CJsm_tag.jpg-->

<!--https://images.fineartamerica.com/images/artworkimages/medium/1/ucsd-library-ken-dugan.jpg-->

<!--https://images.fineartamerica.com/images/artworkimages/medium/1/ucsd-library-ken-dugan.jpg-->

<!--https://images.fineartamerica.com/images/artworkimages/medium/1/ucsd-library-ken-dugan.jpg-->
