<head>
    <script src="https://kit.fontawesome.com/72bd21c404.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@531&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
        body{
            overflow-x: hidden; 
        }
    </style>
    <title>SOA @ UCSD | Home Page </title>
</head>
<body>
<!-- ~~~~~~~~~ -->
<!-- LAYER 0   -->
<!-- ~~~~~~~~~ -->
<!-- ~~~~~~~~~ -->
<!-- LAYER 0   -->
<!-- ~~~~~~~~~ -->
    <div id="header-pic">
        <div class="header-menu">
<!--                <img id="nav-bar-logo" src="/images/soa_img1_nbg.png">-->
                
                <ul>
                    <li>
                        <!--<a href="index">Home</a>-->
                        <%= link_to "HOME", root_path %> 
                    </li>
                    <li><a href="about">About </a>
        <!--
                        <ul>
                            <li><a>Members</a></li>
                            <li><a>About Us</a></li>
                            <li><a>How Publishing Works</a></li>
                            <li><a>What's Open Access</a></li>
                        </ul>
        -->
                    </li>
                    <li><a href="events">Events</a></li>
        <!--
                        <ul>
                            <li><a>Open Access Directory</a></li>
                            <li><a>Mentor-Mentee Program</a></li>
                            <li><a>Research Talks</a></li>
                            <li><a>Workshops</a></li>
                        </ul>
        -->
                    <li><a href="members">Members</a></li>
                    <li><a href="directory">Directory</a></li>
                    <li><a href="join">Join Us</a></li>
                    
                    
                </ul>
        </div>

        
        <div id="header-bkg-content">
            <div id="header-bkg-welcome"> 
                <div id="header-bkg-welcome-right" style="text-align: right;">
                    <div class="header-bkg-welcome-line"> STUDENTS FOR OPEN ACCESS </div>
                    <div class="header-bkg-welcome-line"> @ UC SAN DIEGO </div>
                    <div class="header-bkg-buttons-div">

                        <a href="about">
                            <button type="button" class="header-orange-but" id="header-bkg-learn-more" style="margin-right: 60px; margin-top: 16px;"> LEARN MORE </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div  id="header-bkg-recruit-info" style="">
            <div class="header-bkg-recruiting" style="">Currently Recruiting for Fall 2020</div>
<!--                    <div class="header-bkg-recruiting" style="">School Year 2020 - 2021 </div>-->
                <a href="join">
                    <button type="button" class="header-but" id="header-bkg-apply" style="display: inline-block;"> Apply Today  </button>
                </a>
    </div>
    
<!-- ~~~~~~~~~ -->
<!-- LAYER 1  + 2   -->
<!-- ~~~~~~~~~ -->
<!-- ~~~~~~~~~ -->
<!-- LAYER 1  + 2  -->
<!-- ~~~~~~~~~ -->
    <div class="row" id="layer-2"> 
        <div class="col-xs-5" id="layer-2-left">
            <img id="layer-2-logo" src="/images/soa_img1_nbg.png">
        </div>
        <div class="col-xs-7" id="layer-2-right">
            <h1 id="layer-2-right-title" > WHAT IS OPEN ACCESS? </h1>
            <div id="layer-2-right-content"> 
                TBD. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.                
            </div>
            <div id="layer-2-but-container">
                <a id="layer-2-but-a" href="about">
                    <button type="button" id="layer-2-but" class="skewBtn lorange"> 
                        ABOUT OA
                    </button>
                </a>
            </div>
        </div>
     </div>
    <div class="row" id="layer-1">
        <div id="left-blue" class="col-xs-6" style="">
            <figure>
                <img id="soa-graphic-design" class="picture-image" src="/images/soa_graphic-design.png">
            </figure>
        </div>
        <div class="col-xs-6" id="right-yellow" style="">
<!--            <h1 id="home-about-us-title" > About Us </h1>-->
            <h1 id="home-about-us-title" > ABOUT US </h1>
            
            <div id="home-about-us-content">      
                Our goals are to raise awareness among students about open access (OA) research publication and open educational resources (OER), to get students involved in advocacy for OA and OER, and to change the culture surrounding scholarly publishing to place greater emphasis on equitable access to information.            
            </div>
            <div id="home-about-us-learn-more-div">
                <a id="home-about-us-learn-more-a" href="about">
                    <button type="button" id=home-about-us-learn-more-but> 
                        LEARN MORE
                    </button>
                </a>
            </div>
        </div>
    </div>
<!-- ~~~~~~~~~ -->
<!-- LAYER 2   -->
<!-- ~~~~~~~~~ -->
<!-- ~~~~~~~~~ -->
<!-- LAYER 2   -->
<!-- ~~~~~~~~~ -->

<!-- ~~~~~~~~~ -->
<!-- LAYER 3   -->
<!-- ~~~~~~~~~ -->
<!-- ~~~~~~~~~ -->
<!-- LAYER 3   -->
<!-- ~~~~~~~~~ -->
    
        
    <style>
        .mdl-shadow--2dp{
            box-shadow: 0 2px 2px 0 rgba(0,0,0,0.23), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12)
        }
        .ratio_3_2{
            width: 100%; 
            padding-bottom: 66.67%;
            position: relative;
        }
        .ratio_3_2 > .ratio_content{
            position: absolute; 
            width: 100%; 
            height: 100%; 
            border-top-left-radius: 12px; 
            border-top-right-radius: 12px; 
        }
        #layer-3{
            width: 100%;
/*            text-align: center; */
        }
        #layer-3-title{
            font-size: 44px;
            margin-top: 60px;
            margin-bottom: 35px;
            
            text-align: center;
        }
        #layer-3-container{
            
/*            width: 1170px; */
            margin: 4% 9%; 
/*            background-color: rgba(0,0,0,0.1);*/
            
        }
        .card{
            height: 730px;
            margin: 20px;
            border-radius: 12px; 
            position: relative;
            background-color: rgba(107,212,255,0.2);
        }
        .project-title{
            color: red;
            font-size: 26px;
            text-align: center;
            padding-top: 24px;
        }
        .project-detail{
            padding: 20px 16px; 
            font-size: 16px; 
            text-align: center;
            line-height: 1.45em;
            height: 17em;
            overflow-y: hidden;
            /*  1.45*11 = 15.95    */
        }
        .card .project-but-div .btn{
/*            margin: 25px; */
            position: absolute; 
            font-size: 16px;
            bottom: 10px;
            right: 10px; 
            padding: 8px 20px; 
            border-radius: 12px; 
            background-color: white;
            border: none; 
        }
        .card .project-but-div .btn:hover{
            background-color: rgba(0,0,0,0.5); 
        }
    </style>
    
    
    <div id="layer-3"> 
        <div id="layer-3-title"> CURRENT PROJECTS </div>
        <div id="layer-3-container">
            <div class="row">
                <div class="col-md-4" id="layer-3-proj-1">
                    <div class="card mdl-shadow--2dp">
                        <div class="project-image">
                            <div class="ratio_3_2">
                                <img class="ratio_content" src="/images/mentorship_img.jpg">
                            </div>
                        </div>
                        <div class="project-title" id="project-1-title">
                            Mentor-Mentee Program
                        </div>
                        <div class="project-detail">
                            Are you curious about how graduate students conduct their research, and how the research publication system works in today’s academia? Are you thinking about going to grad school but not sure if it’s right for you? In this mentorship program, we invite graduate students to become your mentors and they will teach you everything you need to know. Graduate students: Are you interested in becoming a mentor and tell your undergraduate mentees about your amazing experience in research? This program is currently looking for more passionate mentors who are currently in Masters, Doctorate or Postdoctoral program.  
                        </div>
                        <div class="project-but-div">
                            <a href="events">
                                <button type="button" class="btn"> LEARN MORE </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" id="layer-3-proj-2">
                    <div class="card mdl-shadow--2dp">
                        <div class="project-image">
                            <div class="ratio_3_2">
                                <img class="ratio_content" src="/images/library_img.jpg">
                            </div>
                        </div>
                        <div class="project-title" id="project-2-title">
                            UCSD OER Directory 
                        </div>
                        <div class="project-detail">
                            TBD. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.
                        </div>
                        <div class="project-but-div">
                            <a href="events">
                                <button type="button" class="btn"> LEARN MORE </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" id="layer-3-proj-3">
                    <div class="card mdl-shadow--2dp">
                        <div class="project-image">
                            <div class="ratio_3_2">
                                <img class="ratio_content" src="/images/research_img_alt_3.png">
                            </div>
                        </div>
                        <div class="project-title" id="project-3-title">
                            Research Talks and Workshops
                        </div>
                        <div class="project-detail">
                            In June, 2020 the UC system just reached an agreement with a major publisher, Springer Nature, on open access publishing. This new agreement will remove the paywall for everyone, and make all the research papers published by UC system be free for everyone to view online. Want to learn more about what open access is? Step by our workshops! We will invite professional OA advocates, professors and researchers to talk about their research and how the open access publishing has changed the flow of knowledge. Want to have a professional CV/resume? All the more reason to come! 
                        </div>
                        <div class="project-but-div">
                            <a href="events">
                                <button type="button" class="btn"> LEARN MORE </button>
                            </a>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
</body>



<!--https://scontent.ftpe4-1.fna.fbcdn.net/v/t1.0-9/29433289_1782027851836122_2899621649475174400_o.jpg?_nc_cat=108&_nc_sid=730e14&_nc_ohc=PEYteNBEyNYAX-g6LRn&_nc_ht=scontent.ftpe4-1.fna&oh=e3edbf9d411e8346f480f2fdfdee3e69&oe=5F8D719F-->

<!--https://univesl.cafe24.com/univengle/wp-content/uploads/2017/10/ucsd_main.jpg-->

<!--https://i2.wp.com/triton.news/wp-content/uploads/2019/02/scripps.jpg?fit=854%2C573&ssl=1-->

<!--https://igppweb.ucsd.edu/~dkilb/sio_sunset_from_CJsm_tag.jpg-->

<!--https://images.fineartamerica.com/images/artworkimages/medium/1/ucsd-library-ken-dugan.jpg-->

<!--https://images.fineartamerica.com/images/artworkimages/medium/1/ucsd-library-ken-dugan.jpg-->

<!--https://images.fineartamerica.com/images/artworkimages/medium/1/ucsd-library-ken-dugan.jpg-->
