<footer class="jumbotron" style="margin-bottom: 0px; margin-right: 0px;  background-color: #242424; color: white; ">
    <script src="https://kit.fontawesome.com/72bd21c404.js" crossorigin="anonymous"></script>
    <style>
        #footer-left-title{
            letter-spacing: 0.1em; 
            font-weight: 550;
            font-size: 30px; 
            text-align: center; 
/*            margin-bottom: 10px; */
        }
        hr{
            width: 60%; 
/*            margin: 0 auto; */
            margin-top: 6px; 
            margin-bottom: 20px; 
            color: white; 
        }
        #footer-left-email{
            letter-spacing: 0.1em; 
            font-size: 22px; 
            text-align: center; 
        }
       #footer-right-title{
            letter-spacing: 0.1em; 
            font-weight: 550; 
            font-size: 30px; 
            text-align: center; 
/*            margin-bottom: 10px; */
        }
        #footer-links{
             
        }
        #footer-links-container{
            position: relative;
        }
        #fb-but{
            color: white; 
            position: absolute; 
            left: 22.50%; 
        }
        #ig-but{
            color: white; 
            position: absolute;
            left: 45%; 
        }
        #yt-but{
            color: white; 
            position: absolute;
            left: 65%; 
        }
    </style>
    
    
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-3" style="height: 125px; ">
            <div class="footer-title" id="footer-left-title"> CONTACT US </div>
            <hr>
            <div id="footer-left-email"> soa@ucsd.edu </div>
        </div>
        <div class="col-xs-3" style="height: 125px; ">
            <div class="footer-title" id="footer-right-title"> FOLLOW US </div>
            <hr>
            <div class="footer-links-container">
                <div class="row">
                    <div class="footer-links" >
                        <a id="fb-but" href="https://www.facebook.com/groups/1328309270679608" target="_blank">
                            <i class="fab fa-facebook fa-3x" aria-hidden="true"></i>
                        </a>
                        <a id="ig-but" href="https://www.instagram.com/ucsdsoa" target="_blank">
                            <i class="fab fa-instagram fa-3x" aria-hidden="true" ></i>
                        </a>
                        <a id="yt-but" href="#">
                            <i class="fab fa-youtube fa-3x" aria-hidden="true" ></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3"></div>
    </div>
    


</footer>